HeavyClient/Connected Services/Routing/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Routing.Stats" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Routing.Stats" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Routing/Service1/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WebProxyService.JSONClasses" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Routing/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Statistics">
    <xs:sequence>
      <xs:element minOccurs="0" name="stationsStats" nillable="true" type="tns:ArrayOfStatistics.StationsStatistics" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Statistics" nillable="true" type="tns:Statistics" />
  <xs:complexType name="ArrayOfStatistics.StationsStatistics">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Statistics.StationsStatistics" type="tns:Statistics.StationsStatistics" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatistics.StationsStatistics" nillable="true" type="tns:ArrayOfStatistics.StationsStatistics" />
  <xs:complexType name="Statistics.StationsStatistics">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="_x003C_occurence_x003E_k__BackingField" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebProxyService.JSONClasses" name="station" nillable="true" type="q1:Station" />
      <xs:element name="type" type="tns:Statistics.Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Statistics.StationsStatistics" nillable="true" type="tns:Statistics.StationsStatistics" />
  <xs:simpleType name="Statistics.Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DEFAULT" />
      <xs:enumeration value="DEPARTURE" />
      <xs:enumeration value="ARRIVAL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Statistics.Type" nillable="true" type="tns:Statistics.Type" />
</xs:schema>